*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
}

body {
    background-color: #F8F5F1;
}

 header {
    width: 100vw;
}

header  h1 {
    word-spacing: 1rem;
    color: #364053;
    z-index: 1;
    text-align: center;
    width: 100%;
    background-size: cover;
    position: absolute;
	overflow: hidden;
    font-size: 2.4rem;
    font-family: Roboto Slab, serif;
    text-shadow: 2px 1px 5px #333;
}

header figure img {
    z-index: -1;
    filter: grayscale(30%);
    width: 100vw;
    
    border-radius: 0 0 85% 85% / 20%;
}

header p {
    display: grid;
    height: 55vh;
    text-align: center;
    align-items: center;
    font-size: 1.4rem;
    color: #45526C;
}

main article {
    color: #45526C;
    font-family: roboto, sans-serif;
    height: 100%;
}

section p {
    padding: 0.8rem;
    line-height: 1.5rem;
}

footer {
    background: #45526C;
    height: 25vh;
}

footer section {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;

}

footer p {
    text-align: center;
    align-self: center;
    font-family: roboto;
    font-size: 1rem;
    color: #5AA897;
    font-weight: bold;
    padding: 0.8rem;
}

footer a {
    text-align: center;
    font-family: roboto;
    font-size: 0.8rem;
    font-weight: bold;
    color:#5AA897;
}

i {
    padding: 1rem;
    color: #F8F5F1;
    
}

 @media (min-width: 1024px) {

    header h1, header figure, header p {
        width: 1800x;
    }

    main {
        display: grid;
        justify-content: center;
        width: 100vw;
    }

    main article {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }
    
    footer section {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    footer section a {
        padding: 1rem;
    }
 }

 /* @media (min-width: 1260px) {
    img {
        width: 1260px;
     }
 } */