*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: grid;
    justify-content: center;
    color: #1f1f1f;
    height: 30vh;
}

 h1 {
    justify-self: center;
    text-align: center;
    font-size: 2.4rem;
    font-family: Roboto Slab, serif;
}

header section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

header section p {
    font-size: 0.8rem;
    text-align: center;
    font-family: Roboto Slab, serif;
}

 hr {
    background-color: #1f1f1f;
}

.hrWide {
    border: #1f1f1f solid 0px;
}

.hrThin {
    border: #1f1f1f solid 0px;
}

.space {
    justify-self: center;
    align-self: center;
    font-size: 1rem;
    color: #1f1f1f;
} 

main .mainFig {
    height: 71vh;
} 

main .mainFig img {
    align-self: center;
    padding: 0px;
    margin-top: 20%;
    -webkit-box-shadow: 0px 0px 17px 13px rgba(119, 119, 119, 0.78); 
    box-shadow: 0px 0px 17px 13px rgba(119, 119, 119, 0.78);
    width: 100%;
}

main .mainFig figcaption {
    text-align: center;
    font-size: 0.8rem;
    font-family: Roboto Slab, serif;
}

main article {
    display: grid;
    background-color: rgba(240, 240, 240, 0.8);
    color: #141414;
    font-family: roboto, sans-serif;
}

ul li{
    padding: 0.8rem;
    line-height: 1.5rem;
}

.figUlL, .figUlR{
    position: absolute;
    display: flex;
    z-index: -1;
    width: 100%;
}

.figUlL img, .figUlR img {
    width: 40vw;
}


.figUlR img {
    width: 30rem;
}



/*

footer{
    color: #d4d4d4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #1f1f1f;
}

footer ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer p{
    margin-right: 1rem;
    text-align: end;
    align-self: center;
    font-family: roboto;
    font-size: 1.6rem;
} */