/* footer background: #45526C;*/


*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
}

body {
    max-width: 1600px;
    margin: auto;
}

header h1 {
    background-image: url(../src/imgs/nelsonMandela.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    word-spacing: 1rem;
    color: #364053;
    text-align: center;
    font-size: 2.4rem;
    font-family: Roboto Slab, serif;
    text-shadow: 2px 1px 5px #333;
    border-radius: 0 0 85% 85% / 20%;
    filter: grayscale(30%);
}


header p {
    display: grid;
    height: 60vh;
    text-align: center;
    align-items: center;
    font-size: 1.4rem;
    color: #45526C;
}

main {
    color: #45526C;
    font-family: roboto, sans-serif;
    margin-bottom: 10rem;
}

main section {
    height: 100%;
}

section p {
    padding: 0.8rem;
    line-height: 1.5rem;
}

footer {
    display: grid;
    background: #45526C;
    border-radius:  10px 10px 0 0;
} 

 footer section {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

footer p {
    text-align: center;
    font-family: roboto;
    font-size: 1rem;
    color: #5AA897;
    font-weight: bold;
    padding: 0.8rem;
    margin-top: 2%;
}

footer a {
    text-align: center;
    font-family: roboto;
    font-size: 0.8rem;
    font-weight: bold;
    color:#5AA897;
}

footer section :hover {
    background-color: #6c7992;
    transition: 0.2s;
}

i {
    padding: 1rem;
    color: #F8F5F1;
    
}

@media (min-width: 1024px) {

    header h1, header figure, header p {
        width: 1800x;
    }

    main {
        display: flex;
    }
    
    main article {
        height: 100%;
    }

    footer section {
        display: flex;
        justify-content: center;
    }

    footer section a {
        padding: 1rem;
    }
 }

@media (min-width: 1260px) {
    
    main article{
        display: flex;
    }    

    footer{
        height: 20vh;
    }
}